.header{
   position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        font-family: "Nunito", sans-serif;
        font-size: 42px;
        font-weight: 1000;
        color: #2678d1;
        span{
            color: #77b800;
        }
    }
    &__ul{
        display: flex;
        gap: 20px;
        list-style: none;
        padding: 0;
    }
    &__nav{
        display: flex;
        gap: 25px;
        align-items: center;
    }
    &__link{
        transition: all 500ms ease-in-out;
        @include hover{
            color: #2678d1;
        }
    }
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
  }
  
  .headroom--pinned {
    transform: translateY(0%);
  }
  
  
  .headroom--unpinned {
    transform: translateY(-200%);
  }
  
  // @include mq($from: large) {
  //   .header__menu, .header__mobile {
  //     display: none;
  //   }
  // }
  // @include mq($until: large) {
  //   .headroom--not-top {
  //     .header {
  //       &__menu {
  //         svg {
  //           path {
  //             fill: black;
  //           }
  //         }
  //       }
  //     }
  //   }
  //   .headroom--unpinned {
  //     transform: translateY(0%);
  //     background-color: #fff;
  //     .header {
  //       &__logo {
  //         display: none;
  //         &--secondary {
  //           display: block;
  //         }
  //       }
  //     }
  //   }
  //   .header.header--default {
  //     padding: 15px 0;
  //   }
  // }
  