.testimonials {
  padding: 60px 0;
  // background-color: #d2d2d2;
  &__grid {
    display: flex;
    gap: 30px;
    min-height: 400px;
    align-items: center;
    @include lg {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @include md {
      display: flex;
      flex-direction: column;
    }
  }
  &__card {
    $card: &;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    flex: 1;
    padding: 30px 30px 30px 40px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 500ms ease-in-out;
    height: 100%;
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
    @include lg {
      gap: 20px;
    }
    &--star {
      display: flex;
      gap: 4px;
      transition: all 500ms ease-in-out;
    }
    &--text {
      margin: 0;
      max-height: 0;
      overflow: hidden;
      transition: all 500ms ease-in-out;
      @include lg {
        max-height: none;
      }
    }
    &--image {
      position: absolute;
      top: 50%;
      left: 0;
      margin: auto;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: all 500ms ease-in-out;
      @include lg {
        margin: 0;
        position: initial;
        transform: none;
      }
    }
    @include hover {
      flex: 2;
      box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
      padding-top: 50px;
      gap: 20px;
      #{$card}--text {
        max-height: 500px;
      }
      #{$card}--image {
        transform: scale(2) translate(-50%, -50%);
        top: 20px;
        left: 57%;
      }
    }
    // &.adjacent {
    //   height: 75%;
    // }
    // &.superadjacent {
    //   height: 50%;
    // }
    // &.subadjacent {
    //   height: 25%;
    // }
  }
}
